* {
    margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.header {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  color:  rgb(45, 140, 151);
  font-size: 40px;
}

h1 {
  text-align: center;
}

a {
    margin-top: 3%;
    margin-left: 44%;
}

.image {
  width: 20%;
  margin: auto;
  margin-top: 2%;
}

a:link, a:visited {
    background-color:  rgb(45, 140, 151);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
  
a:hover, a:active {
    background-color:  rgb(39, 125, 135);
    transition: 0.3s;
}

p {
  margin-top: 20px;
  font-size: 20px;
}

